@using Blazorise
@namespace Blazorise

<Modal>
    <ModalHeader>
            <ModalTitle>Delete</ModalTitle>
            <CloseButton />
     </ModalHeader>
    <ModalBody>
        <div class="text-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>

                    <h4 class="mb-2 mt-2">@Description</h4>

                </div>
    </ModalBody>
    <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Cancelled">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@Close">Ok</Button>
        </ModalFooter>
</Modal>

@code {
    [CascadingParameter] public DialogInstance Parent { get; set; }
    [Parameter] public string Description { get; set; } = "Are you sure you want to Delete?";

    void Close()
    {
        Parent.Close();
    }

    void Cancelled()
    {
        Parent.Close(DialogResult.Cancel());
    }
}

